@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script:wght@500&family=Great+Vibes&family=Satisfy&display=swap');


/********************Media Queries*******************/


@media screen and (max-width: 3680px)
{
#nomDesCreateurs
{
               font-size: 5.75em;
               
}


#premierTitre
{
               font-size: 5.75em;
}

#texte, blockquote
{
               font-size: 1.5em;
}
footer 
{
  font-size: 1.15em;
}

#réseaux img
{
 width: 2.5%;
}
}


@media screen and (max-width: 2920px)
{
#nomDesCreateurs
{
               font-size: 5.25em;
               
}


#premierTitre
{
               font-size: 5.25em;
}

#texte, blockquote
{
               font-size: 1.5em;
}
footer 
{
  font-size: 1.1em;
}

#réseaux img
{
 width: 2.25%;
}
}


@media screen and (max-width: 2560px)
{
#nomDesCreateurs
{
               font-size: 4em;
}
               footer 
               {
                 font-size: 1.05em;
               }



#premierTitre
{
               font-size: 4em;
}

#texte, blockquote
{
               font-size: 1.5em;
}
 footer 
  {
    font-size: 1em;
  }
  
  #réseaux img
  {
   width: 2.25%;
  }
}


@media screen and (max-width: 2400px)
{
#nomDesCreateurs
{
               font-size: 3.75em;
               
}


#premierTitre
{
               font-size: 3.75em;
}

#texte, blockquote
{
               font-size: 1.5em;
}
footer 
{
  font-size: 0.95em;
}

#réseaux img
{
 width: 2.75%;
}
}


@media screen and (max-width: 2240px)
{
#nomDesCreateurs
{
               font-size: 3.5em;
               
}


#premierTitre
{
               font-size: 3.5em;
}

#texte, blockquote
{
               font-size: 1.7em;
}
footer 
{
  font-size: 0.90em;
}

#réseaux img
{
 width: 3%;
}
}


@media screen and (max-width: 1920px)
{
#nomDesCreateurs
{
               font-size: 3.2em;
               
}


#premierTitre
{
               font-size: 3.2em;
}

#texte, blockquote
{
               font-size: 1.7em;
}
footer 
{
  font-size: 0.85em;
}

#réseaux img
{
 width: 3.5%;
}
}


@media screen and (max-width: 1600px)
{
#nomDesCreateurs
{
               font-size: 2.6em;
               
}


#premierTitre
{
               font-size: 2.6em;
}

#texte, blockquote
{
               font-size: 1.6em;
}
footer 
{
  font-size: 0.80em;
}

#réseaux img
{
 width: 4%;
}
}


@media screen and (max-width: 1280px)
{
#nomDesCreateurs
{
               font-size: 2.35em;
               
}


#premierTitre
{
               font-size: 2.35em;
}

#texte, blockquote
{
               font-size: 1.35em;
}
footer 
{
  font-size: 0.85em;
}

#réseaux img
{
 width: 4.5%;
}
}


@media screen and (max-width: 1120px)
{
#nomDesCreateurs
{
               font-size: 2.1em;
               
}


#premierTitre
{
               font-size: 2.1em;
}

#texte, blockquote
{
               font-size: 1.35em;
}
footer 
{
  font-size: 0.80em;
}

#réseaux img
{
 width: 5%;
}
}


@media screen and (max-width: 960px)
{
#nomDesCreateurs
{
               font-size: 1.85em;
               
}


#premierTitre
{
               font-size: 1.85em;
}

#texte, blockquote
{
               font-size: 1.1em;
}
footer 
{
  font-size: 0.75em;
}

#réseaux img
{
 width: 5.25%;
}
}


@media screen and (max-width: 800px)
{
#nomDesCreateurs
{
               font-size: 1.6em;
               
}


#premierTitre
{
               font-size: 1.6em;
}

#texte, blockquote
{
               font-size: 1.1em;
}
footer 
{
  font-size: 0.70em;
}

#réseaux img
{
 width: 5.5%;
}
}


@media screen and (max-width: 640px)
{
#nomDesCreateurs
{
               font-size: 1.35em;
               
}


#premierTitre
{
               font-size: 1.35em;
}

#texte, blockquote
{
               font-size: 1.1em;
}
footer 
{
  font-size: 0.65em;
}

#réseaux img
{
 width: 5.75%;
}
}


@media screen and (max-width: 560px)
{
#nomDesCreateurs
{
               font-size: 1.05em;
               
}


#premierTitre
{
               font-size: 1.05em;
}

#texte, blockquote
{
               font-size: 0.95em;
}
footer 
{
  font-size: 0.60em;
}

#réseaux img
{
 width: 5.75%;
}
}


@media screen and (max-width: 480px)
{
#nomDesCreateurs
{
               font-size: 1em;
               
}


#premierTitre
{
               font-size: 1em;
}

#texte, blockquote
{
               font-size: 0.85em;
}
footer 
{
  font-size: 0.55em;
}

#réseaux img
{
 width: 6%;
}
}


@media screen and (max-width: 400px)
{
#nomDesCreateurs
{
               font-size: 0.95em;
               
}


#premierTitre
{
               font-size: 0.95em;
}

#texte, blockquote
{
               font-size: 0.85em;
}
footer 
{
  font-size: 0.50em;
}

#réseaux img
{
 width: 6%;
}
}


@media screen and (max-width: 360px)
{
#nomDesCreateurs
{
               font-size: 0.90em;
               
}


#premierTitre
{
               font-size: 0.90em;
}

#texte, blockquote
{
               font-size: 0.85em;
}
footer 
{
  font-size: 0.45em;
}

#réseaux img
{
 width: 6%;
}
}


@media screen and (max-width: 320px) and (min-width: 0px)
{
#nomDesCreateurs
{
               font-size: 0.85em;
               
}


#premierTitre
{
               font-size : 0.85em;
              }


#texte, blockquote
{
               font-size: 0.85em;
}
footer 
{
  font-size: 0.40em;
}

#réseaux img
{
 width: 2.5%;
}
}




/********************Barre Fixe*******************/



#barreFixe
{
               background-color :rgb(112, 168, 112);
               border-top: #ffffff 2px solid;
               border-bottom: #ffffff 2px solid;
               position : fixed;
               opacity: 90%;
               width: 102%;
               margin-left: -2%;
               padding-top: 1%;
               padding-bottom: 1%;
}



#nomDesCreateurs a
{
  text-decoration: none;
  color: #ffffff;
}

a
{
  text-decoration: none;
  color: aqua;
}

#nomDesCreateurs
{
               font-family: Satisfy, Arial, Helvetica, sans-serif;
               text-align: center;
               width: 20%;
               margin-left: 40%;
               color: #ffffff;
}

/********************Aspect visuel du fond******/

body
{
                    background-color: #122347;
}

/********************Texte*******************/

article 
{
  margin-top: 9%;
  text-align: center;
}

#premierTitre 
{
  background-color: rgb(0, 0, 0);
  font-family: Dancing Script, 'Courier New', Courier, monospace;
  width: 20%;
  margin-left: 40%;
  border-radius: 6px;
  padding-bottom: 2%;
  color: aliceblue;
  border: #ffffff 2px solid;
  padding-top: 0.75%;
}

#texte
{
  background-color: rgb(0, 0, 0);
  margin-top: -3.5%;
  width: 80%;
  margin-left: 6%;
  border-radius: 10px;
  padding-top: 2%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
  color: aliceblue;
  border: #ffffff solid 2px;
}

#imageRecettes
{
  width: 80%;
  margin-left: 10%;
  margin-top: -1.7%;
  border-radius: 6px;
  border: 2px solid #ffffff;
}

blockquote
{
  text-align: center;
  font-family: Dancing Script, 'Courier New', Courier, monospace;
  color: #3f537e;
}

/****************footer********************/

#piedDePage
{
               text-align: center;
}

footer {
               
  border-top: gray 1px solid;
  border-bottom: gray 1px solid;
  padding-left: 2%;
  padding-bottom: 2%;
  padding-top: 4%;
  color: white;
  width: 90%;
  margin-left: 3.5%;
  margin-bottom: -2%;
  margin-top: 4%;
  height: 70px;
}


             #réseaux img
             {
              float: left;
              padding-left: 3%;
              max-width: 3.5%;
             }
